:root{
    --clr-dark-purple: hsl(292, 42%, 14%);
    --clr-grayish-purple: hsl(292, 16%, 49%);
    --clr-light-pink: hsl(275, 100%, 97%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-plus-icon: #AD28EB;
    --clr-blue: hsl(228, 45%, 44%);
     
}

@font-face {
    font-family: WorkSans;
    src: url("./fonts/WorkSans-VariableFont_wght.ttf");
}

*{
    font-family: WorkSans;
}

body{
    background-color: var(--clr-light-pink);
    margin: 0;


}

.bg{

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 30%;
    background-image: url("./images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}



.container{
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--clr-white);
    border-radius: 10px;
    max-width: 90%;
    padding: 30px;
    margin-top: 10%;
}

.block{
    display: flex;
    justify-content: space-between;
}

.question:hover{
    color: var(--clr-plus-icon);
    cursor: pointer;
}

h1{
    font-size: 35px;
    margin-left: 15px;
    color: var(--clr-dark-purple);
}

.content{
    display: none;
}



hr{
    border: solid 0.5px var(--clr-light-pink);
    margin-top: 20px;
}

button{
    cursor: pointer;
    background-color: inherit;
    border: none;
    appearance: none;
}

.header{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    margin: 0;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 10px;
    margin-top: 20px;
}

.attribution a { 
    color: var(--clr-blue); 
}


@media (min-width: 400px) {
    .container{
        max-width: 40%;
        margin: auto;
        margin-top: 10%;
    }

    .bg{
        height: 40%;   
    }

    h1{
        font-size: 35px;
        margin-left: 15px;
        
    }
}